*{
    margin: 50px;
    align-items: center;
    align-content: center;
}

.jumbotron {
    min-width: 585px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    border: 0.08em solid black;
    padding: 20px;
  }
  
  h1 {
    font-size: 4em;
    color: #484949;
  }